In [3]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

import os
os.chdir("/content/gdrive/My Drive/")
!ls -l"/content/gdrive/My Drive/112-2 LATIA/"
#!ls -l "自行填寫正確的路徑"

Mounted at /content/gdrive/
ls: invalid option -- '/'
Try 'ls --help' for more information.

In [4]:
import pandas as pd

csv_file = './112-2 LATIA/112_student.csv'
#csv_file ="自行填寫正確的路徑"

columns = [
   "學年度","學校代碼","學校名稱","日間∕進修別","等級別","總計","男生計",
   "女生計","一年級男","一年級女","二年級男","二年級女","三年級男","三年級女",
   "四年級男","四年級女","五年級男","五年級女","六年級男","六年級女",
   "七年級男","七年級女","延修生男","延修生女","縣市名稱","體系別"
]

df = pd.read_csv(csv_file, encoding='utf-8')

#查看前n筆資料, 預設為五
print(df.head(3))

#查看資料欄位資訊
print(df.info(verbose=True, show_counts=True))

#查看資料的統計學資訊描述
print(df.describe())

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2  112     1  國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77

   五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0    52    68    37    66    50     0     0  30 臺北市  1 一般
1     1     1     0     0     0     0     0  30 臺北市  1 一般
2    57     0     0     0     0     0     0  30 臺北市  1 一般

[3 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB
None
         學年度         學校代碼            總計           男生計           女生計  \
count  764.0   764.000000    764.000000    764.000000    764.000000
mean   112.0   756.200262   1433.022251    708.655759    724.366492
std      0.0   504.152506   2633.932756   1385.170171   1348.848241
min    112.0     1.000000      1.000000      0.000000      0.000000
25%    112.0    48.000000    103.750000     43.750000     50.000000
50%    112.0  1029.000000    373.500000    180.000000    166.000000
75%    112.0  1060.000000   1387.500000    590.500000    718.500000
max    112.0  3002.000000  19466.000000  10885.000000  10716.000000

              一年級男         一年級女         二年級男         二年級女         三年級男  ...  \
count   764.000000   764.000000   764.000000   764.000000   764.000000  ...
mean    177.971204   173.545812   170.302356   166.284031   158.507853  ...
std     349.047086   321.080379   344.369500   315.779672   323.499085  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       5.000000     4.000000     5.000000     6.000000     6.000000  ...
50%      41.000000    37.000000    36.500000    35.000000    35.500000  ...
75%     161.250000   188.250000   157.000000   174.000000   127.500000  ...
max    2709.000000  2519.000000  2643.000000  2547.000000  2553.000000  ...

              四年級男         四年級女        五年級男        五年級女        六年級男  \
count   764.000000   764.000000  764.000000  764.000000  764.000000
mean    145.589005   161.738220   11.871728   20.469895    4.810209
std     308.939286   324.284355   32.233288   81.117153   19.818557
min       0.000000     0.000000    0.000000    0.000000    0.000000
25%       4.000000     4.000000    0.000000    0.000000    0.000000
50%      28.500000    30.000000    0.000000    0.000000    0.000000
75%     108.500000   141.500000    6.000000    6.000000    0.000000
max    2575.000000  2594.000000  309.000000  897.000000  179.000000

             六年級女        七年級男        七年級女         延修生男         延修生女
count  764.000000  764.000000  764.000000   764.000000   764.000000
mean     3.615183    2.955497    1.742147    36.647906    27.591623
std     13.204157   17.768959    8.937397    98.370926    74.731977
min      0.000000    0.000000    0.000000     0.000000     0.000000
25%      0.000000    0.000000    0.000000     0.000000     0.000000
50%      0.000000    0.000000    0.000000     0.000000     0.000000
75%      0.000000    0.000000    0.000000    21.000000    18.250000
max    125.000000  312.000000  132.000000  1448.000000  1107.000000

[8 rows x 21 columns]

In [8]:
df1 = df[['學校名稱','等級別','總計']] # 取出想要觀看的欄位
print("本資料集共有", len(df1), "筆紀錄")

df1_1 = df1[df1['等級別'] == 'B 學士']
print(df1_1)
print("有招生學士學制的學校數量為", len(df1_1), "\n")
df1_1_sorted = df1_1.sort_values(by='總計', ascending=False)
print("112學年度在籍的學士生最多人數之學校為", df1_1_sorted.head(1)['學校名稱'].values)
print(df1_1_sorted.head(1)['學校名稱'].values, "學士生數量為", df1_1_sorted.head(1)['總計'].values)

本資料集共有 764 筆紀錄
         學校名稱   等級別     總計
3      國立政治大學  B 學士   9763
7      國立清華大學  B 學士   9274
12     國立臺灣大學  B 學士  17323
16   國立臺灣師範大學  B 學士   8503
20     國立成功大學  B 學士  12159
..        ...   ...    ...
702  中信金融管理學院  B 學士    799
733     馬偕醫學院  B 學士    749
738    法鼓文理學院  B 學士     51
739    法鼓文理學院  B 學士     19
763    臺北市立大學  B 學士   5275

[97 rows x 3 columns]
有招生學士學制的學校數量為 97

112學年度在籍的學士生最多人數之學校為 ['淡江大學']
['淡江大學'] 學士生數量為 [19466]

In [10]:
type_list = [] # 建立空字串

for i in df['學校名稱']:
    if ('國立' in i) or ('市立' in i):
        type_list.append('公立')
    else:
        type_list.append('私立')

df['公私立'] = type_list # 將 Dataframe 新增「公私立」column

df2 = df.drop_duplicates('學校代碼')
count = df2['學校代碼'].value_counts
df2_2_1 = df2[df2['公私立'] == '公立']
df2_2_2 = df2[df2['公私立'] == '私立']

print(df2)
print(f"本資料集共收集了 {len(df2)} 所學校，其中公立：{len(df2_2_1)} 所；私立：{len(df2_2_2)} 所。")

     學年度  學校代碼        學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  \
0    112     1      國立政治大學    D 日  D 博士   921   517   404    86    69  ...
4    112     2      國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...
9    112     3      國立臺灣大學    D 日  D 博士  3654  2454  1200   431   215  ...
13   112     4    國立臺灣師範大學    D 日  D 博士  1337   630   707   106   127  ...
17   112     5      國立成功大學    D 日  D 博士  1888  1228   660   219   136  ...
..   ...   ...         ...    ...   ...   ...   ...   ...   ...   ...  ...
753  112  1289  育英醫護管理專科學校    D 日  5 五專  1833   200  1633    39   343  ...
754  112  1291  聖母醫護管理專科學校    D 日  2 二專     2     2     0     0     0  ...
757  112  1292  新生醫護管理專科學校    N 修  2 二專    79    12    67     7    37  ...
759  112  1293  崇仁醫護管理專科學校    D 日  5 五專  3017   460  2557   112   515  ...
760  112  3002      臺北市立大學    D 日  D 博士   208    94   114    17    11  ...

     五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別  公私立
0      52    68    37    66    50     0     0  30 臺北市  1 一般   公立
4      60   110    50   115    56     0     0  18 新竹市  1 一般   公立
9     128   179   106   312   132     0     0  30 臺北市  1 一般   公立
13     83    59    85    87    89     0     0  30 臺北市  3 師範   公立
17     84   107    57   110    48     0     0  21 臺南市  1 一般   公立
..    ...   ...   ...   ...   ...   ...   ...     ...   ...  ...
753   276     0     0     0     0    13    77  50 高雄市  2 技職   私立
754     0     0     0     0     0     2     0  02 宜蘭縣  2 技職   私立
757     0     0     0     0     0     0     1  03 桃園市  2 技職   私立
759   529     0     0     0     0    19    45  10 嘉義縣  2 技職   私立
760    14     6     9    16    25     0     0  30 臺北市  1 一般   公立

[145 rows x 27 columns]
本資料集共收集了 145 所學校，其中公立：47 所；私立：98 所。

In [11]:
df3 = df.drop_duplicates(subset=['學校名稱', '等級別'])
count = df3['等級別'].value_counts()
degree_list = list(df['等級別'].unique())

print(f"本資料集總共收集了 {len(set(df['學校代碼']))} 所學校，各等級學制當中：")
for degree in degree_list:
    print(f"一共有{count[degree]} 所學校， 有招收{degree[2:]}。")

本資料集總共收集了 145 所學校，各等級學制當中：
一共有84 所學校， 有招收博士。
一共有130 所學校， 有招收碩士。
一共有67 所學校， 有招收學士。
一共有1 所學校， 有招收4+X。
一共有71 所學校， 有招收二技。
一共有66 所學校， 有招收四技。
一共有46 所學校， 有招收五專。
一共有2 所學校， 有招收七年。
一共有46 所學校， 有招收二專。
一共有1 所學校， 有招收二年制。